body { 
  padding-top:60px;
  margin:0;
}

table, th, thead, tbody, td {
  border: 1px solid black;
  border-collapse:collapse;

}

table{
  margin-left:auto;
  margin-right:auto;
}

.navbar {
        overflow: hidden;
        background-color: #1c87c9;
        position: fixed;
        width: 100%;
        top:0;
        height:auto;
      }

.navbar a {
        float: left;
        display: block;
        color: #eeeeee;
        text-align: center;
        padding: 15px 15px;
        text-decoration: none;
        font-size: 18px;
      }

.navbar a:hover {
        color: blue;
      }

